* {
    font-family: 'GongGothicMedium';
}

.container {
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 600;
}

.main__wrap {
    width: 100%;
    margin-left: 5rem;
    padding: 6rem 24px 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}


.main__wrap .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
    color: var(--text-color);
}

/* 설명 */

.descwrap {
    width: 100%;
    line-height: 1.5;
}

.section .descwrap__subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-color);
}

.section .descwrap__subtitle__desc {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2;
}

.codeContainer {
    padding-bottom: 1.5rem;
    background-color: #f4f4f4;
    border-radius: 5px;
    position: relative;
    font-family: none;
}

/* 맥북 형식 */

.windowBar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #e0e0e0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0.5rem;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.red {
    background-color: #ff5f56;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #27c93f;
}

/* 예제 이름 */

.ex__name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-color);
    font-family: 'GongGothicMedium';
}

/* 복사 버튼 */

.copyButton {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copyButton:hover {
    background-color: #555;
}

/* 복사 완료 멘트 */

.copySuccess {
    margin-left: 1rem;
    color: green;
    font-weight: bold;
}

/* 실행 예제 코드 백그라운드 */

.render__code {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    margin-bottom: 1rem;
    font-family: none;
    color: var(--background-color);
}

/* 실행 예제 제목 */

.render__name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 2rem;
    color: var(--text-color);
}

.render__name__sub {
    color: var(--text-color);
}

/* 스켈레톤 ui */
.skeleton {
    margin-bottom: 1rem;
}

/* 다음글 이전글 */
.navigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.navigationLink {
    color: #7c5fdd;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #7c5fdd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navigationLink:hover {
    background-color: #7c5fdd;
    color: #fff;
}

/* 추천 링크 */

.linklist {
    margin-top: 1rem;
    padding-left: 1rem;
    list-style-type: disc;
}

.linklist li {
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.linklist li a {
    color: var(--text-color);
    text-decoration: none;
}

.linklist li a:hover {
    text-decoration: underline;
}

/* 폰트 예제  */
.font {
    text-align: center;
    color: red;
}

.font2 div span {
    color: red;
}

.font2 div>span {
    color: blue;
}

.font2 h1,
p span {
    color: red;
}

.font2 {
    font-size: 14px;
}

.check {
    font-weight: 600;

}

.backgrond {
    background-color: #333;
}

.heading {
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    color: gold;
    text-shadow: 0 0 15px white;
    ;
}

.heading2 {
    text-align: center;
    font-size: 130px;
    font-weight: bold;
    color: crimson;
    text-shadow: 5px 5px 0 yellowgreen, 10px 10px 0 #ddd;
}

/* 목록 테스트 예제 */
.list {
    padding: 0;
    line-height: 2em;
}

.list>li {
    list-style: none;
}

.list>li>b {
    background-color: #000;
    color: #fff;
    font-weight: normal;
}

.list>li ul {
    list-style: decimal;
}

.football {
    list-style: none;
    margin: 0;
    padding: 40px;
    border: 1px solid #ddd;
    width: 800px;
    overflow: hidden
}

.football li {
    float: left;
    text-align: center;
    width: 20%;
}

.football li a {
    text-decoration: none;
    color: #000;
}

.football li a:hover {
    color: royalblue;
    text-decoration: underline;
}

/* element 예제 */

.contents {
    display: block;
}

.contents__box1 {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #a96d6d;
}

.contents__box2 {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #9f8585;
}

.contents__box3 {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #e8bcbc;
}

.contents2 {
    display: inline-flex;
    margin-right: 10px;
}

.contents2__box1 {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #ff0000;
    margin-right: 10px;
}

.contents2__box2 {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #ff9900;
    margin-right: 10px;
}

.contents2__box3 {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #26ff00bd;
}


/* 컨텐츠 더미텍스트 */
.contents__lorem {
    color: #f4f4f4;
}

/* display 예제 */

.imgcontents img {
    display: block;
}

.imgcontents2 img {
    display: lnline;
}

.imgcontents3 img {
    display: none;
}

/* float 예제 */
.floatwrap {
    width: 300px;
    height: 100px;
    background-color: #27c93f;
}

.boxs {
    width: 50px;
    height: 50px;
    background-color: yellow;
    float: left;
}

.boxs2 {
    width: 50px;
    height: 50px;
    background-color: yellow;
    margin: auto;
}

.boxs3 {
    width: 50px;
    height: 50px;
    background-color: yellow;
    float: right;
}

/* 포지셔닝 예제 */
.parent {
    position: relative;
    background-color: blue;
    width: 300px;
    height: 200px;
}

.child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: red;
    color: #ddd;
}

.btn__top {
    position: fixed;
    width: 20px;
    height: 20px;
    right: 20px;
    bottom: 20px;
    background-color: aqua;
}

/* absolute 예제 */
.parent1 {
    position: relative;
    border: 2px solid red;
    width: 600px;
    height: 300px;
}

.child1 {
    position: absolute;
    background-color: gold;
    width: 200px;
    height: 100px;
}

/* Position the .child1 elements */
.child1:nth-child(1) {
    top: 0;
    left: 0;
}

.child1:nth-child(2) {
    top: 0;
    right: 0;
}

.child1:nth-child(3) {
    bottom: 0;
    right: 0;
}

.child1:nth-child(4) {
    bottom: 0;
    left: 0;
}

/* z-index */

.parents {
    height: 250px;
    position: relative;
}

.parents div {
    width: 200px;
    height: 200px;
    position: absolute;
}

.childs {
    background-color: skyblue;
    z-index: 0;
}

.childs2 {
    background-color: gold;
    z-index: 1;
    top: 10px;
    left: 10px;

}

.childs3 {
    background-color: gray;
    z-index: 2;
    top: 20px;
    left: 20px;
}

/* hover 태그 예제 */
.btn {
    background-color: #fff;
    color: #000;
    text-align: center;
}

.btn:hover {
    background-color: skyblue;
    color: #fff;
}

.div {
    background-color: #eee;
    padding: 15px;
    width: 400px;
    text-align: center;
}

.div:hover h2 {
    color: red;
}

.div:hover span {
    color: blue;
}