* {
    font-family: 'GongGothicMedium';
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

.main__wrap {
    width: 100%;
    max-width: 900px;
    height: 100%;
    display: flex;
    padding-top: 6rem;
    justify-content: center;
    flex-direction: column;
    margin-left: 13rem;
    box-sizing: border-box;
}

.section {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.main__wrap .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
    color: var(--text-color);
}

.descwrap {
    width: 100%;
    line-height: 1.5;
}

.section .descwrap__subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-color);
}

.section .descwrap__subtitle__desc {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: var(--text-color);
}

.codeContainer {
    padding-bottom: 1.5rem;
    background-color: #f4f4f4;
    border-radius: 5px;
    position: relative;
    font-family: none;
}

.windowBar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #e0e0e0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0.5rem;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.red {
    background-color: #ff5f56;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #27c93f;
}

.ex__name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.copyButton {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copyButton:hover {
    background-color: #555;

}

.copySuccess {
    margin-left: 1rem;
    color: green;
    font-weight: bold;
}

.render__code {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    margin-bottom: 1rem;
    font-family: none;

}

.render__name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 2rem;
    color: var(--text-color);
}