* {
    font-family: 'GongGothicMedium';
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

.main__wrap {
    width: 100%;
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 6rem;
}

.section {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.main__wrap .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
    color: var(--text-color);
}

.descwrap {
    width: 100%;
    line-height: 1.5;
    color: var(--text-color);
}

.section .descwrap__subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1rem;
}

foreignObject {
    background-color: #fafafa;
    border-radius: 10px;
    border: var(--border-color);
    border-radius: 10px;
}

.world__chart {
    background-color: var(--background-color);
    margin-bottom: 3rem;
}

.local__chart {
    background-color: var(--background-color);
    margin-bottom: 2rem;
}

.chart__link {
    float: right;
    font-size: 0.9rem;
    color: var(--text-color);
}

.local_title {
    font-size: 1.5rem;
}

.descwrap__text {
    margin-bottom: 1rem;
}

.benefitsList {

    margin-left: 1.5rem;
    margin-bottom: 1rem;

}

.callToAction {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--highlight-color);
}

.benefitsList .benefitsList__num {
    font-size: 1.5rem;
    margin-right: 1rem;
    display: inline-block;
    width: 1.5rem;
}

Skeleton {
    margin-bottom: 1rem;
}

.navigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.navigationLink {
    color: #32CD32;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #32CD32;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navigationLink:hover {
    background-color: #32CD32;
    color: #fff;
}