* {
    font-family: 'GongGothicMedium';
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

.main__wrap {
    width: 100%;
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13rem;
    box-sizing: border-box;
}

.section {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.main__wrap .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
    color: var(--text-color);
}

.descwrap {
    width: 100%;
    line-height: 1.5;
    color: var(--text-color);
}

.section .descwrap__subtitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1rem;
}



foreignObject {
    background-color: #fafafa;
    border-radius: 10px;
    border: var(--border-color);
}

.world__chart {
    background-color: var(--background-color);

    margin-bottom: 3rem;
}

.local__chart {
    background-color: var(--background-color);

}