@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.main__title {
    font-family: 'JalnanGothic';
}

a {
    color: var(--button-text-color);
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
}

.toggleButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 99;

    display: flex;
    align-items: center;
    gap: 8px;
}

.mode {
    margin: 0;
    font-size: 1rem;
}


header {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.mode {
    color: var(--text-color) !important;
    font-family: 'GongGothicMedium' !important;
}